/*-----------------------------------reset--------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
/*------------------------------------------------------------------------------*/

body{
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  position: relative;
  width: 100%;
  height: 177.778%;
  background: white;
}

.qr{

/*-----------------------------------logo--------------------------------------*/
    }
    .logo_middle{
      /* logo_middle */

      position: absolute;
      width: 58.981%;
      height: 27.222%;
      left: 20.369%;
      top: 55.833%;
    }

    .icono_middle{
    /* icono_middle */

      position: absolute;
      width: 13.271rem;
      height: 2.926rem;
      left: 4.583rem;
      top: 12.563rem;
    }

    /* middle */
    .middle{
      position: absolute;
      width: 10.549rem;
      height: 2.654rem;
      left: 5.944rem;
      top: 16.033rem;

    }
/*-----------------------------------botones--------------------------------------*/
/* botones */
.botones{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 179px;
  height: 108px;
  left: 55%;
  top: 356px;
}

.boton_inicia{
  position: static;
  width: 179px;
  height: 41px;
  left: 0px;
  top: 0px;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 26px 0px;
}

.boton_inicia_verde{
position: static;
width: 179px;
height: 41px;
left: 0px;
top: 67px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 26px 0px;
}

.apk{
  position: absolute;
width: 115px;
height: 17px;
left: 30px;
top: 79px;
z-index: 2;

/* Resaltar_F */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */


/* White */

color: #FFFFFF;

}

.web{
  z-index: 2;
  position: absolute;
  width: 120px;
  height: 17px;
  left: 30px;
  top: 12px;

  /* Resaltar_F */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height, or 121% */


  /* #53CA98 */

  color: #53CA98;

}

.fondo_boton{
  position: absolute;
width: 179px;
height: 41px;
left: 0px;
top: 0px;

/* blanco */

background: #FFFFFF;
/* lara */

box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
border-radius: 9px;
}

.fondo_boton_verde{
  position: absolute;
  width: 179px;
  height: 41px;
  left: 0px;
  top: 67px;

  /* #53CA98 */

  background: #53CA98;
  /* lara */

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}

